@charset "utf-8";
.main {
    display: grid;
    width: 600px;
    height: 600px;
    border: 10px solid skyblue;
    grid-template-columns: [c1]100px [c2]100px [c3]100px [c4];
    /* grid-template-columns: repeat(3, 100px); */
    /* grid-template-columns: repeat(auto-fill, 100px); */
    /* average to divide grid fraction */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: 2fr 2fr 1fr; */
    grid-template-rows: 100px 100px 100px 100px;
    /* the following function seems not working */
    /* grid-template-columns: 1fr, minmax(150px, 1fr); */
    /* grid-template-columns: 100px auto 100px; */
    /* gap: 2%; */
    /* row-gap: 2%;
    column-gap: 2%; */
    /* define area to form a group */
    /* using a letter to express a grid, any letter works */
    /* grid-template-areas: 'a b c' 'd e f' 'g h i'; */
    /* grid-auto-flow: column dense; */
    /* 容器属性 */
    justify-items: center;
    align-items: center;
}

.item-1 {
    background-color: skyblue;
    font-size: 50px;
}

.item-2 {
    background-color: slateblue;
    font-size: 50px;
}

.item-3 {
    background-color: slategrey;
    font-size: 50px;
}

.item-4 {
    background-color: springgreen;
    font-size: 50px;
}

.item-5 {
    background-color: teal;
    font-size: 50px;
}

.item-6 {
    background-color: violet;
    font-size: 50px;
}

.item-7 {
    background-color: wheat;
    font-size: 50px;
}

.item-8 {
    background-color: yellow;
    font-size: 50px;
}

.item-9 {
    background-color: yellowgreen;
    font-size: 50px;
}

.item-10 {
    background-color: turquoise;
    font-size: 50px;
}