.col1 {
    width: 6.866%;
    height: 40px;
    background-color: aquamarine;
    color: brown;
    display: inline-block;
    margin: 1% 0 1% 1.2%;
    text-align: center;
}

.col2 {
    width: 15.33%;
    height: 40px;
    width: 15.33%;
    background-color: grey;
    color: springgreen;
    display: inline-block;
}

.col1:first-of-type {
    margin: 1% 0 1% 0;
}

div#container {
    width: 960px;
    background-color: black;
    box-sizing: border-box;
}